{% extends "meetup/base.html"%}
{% block content %}

<div class='jumbotron'>
	<h1>{{ event.event_name }}</h1>
	<p>Planned on: {{event.event_datetime}}</p>
	<p>Created on: {{event.created_on}}</p>
	<p>To invite your friends, share the following key:</p>
	<h2>{{event.event_key}}</h2>
	<p><a class="btn btn-lg btn-success" href="{% url 'meetup:new_participant' event.id %}" role="button">Join event</a></p>
	<p><a class="btn btn-lg btn-primary" href="{% url 'meetup:gathering_locations' event.id %}" role="button">Suggest locations</a></p>
</div>

<div class="row marketing">
	<div class="col-lg-6">
		{% if event.participant_set.count = 0 %}
			<h4>No participants registered at the moment.</h4>
		{% else %}
			<h3>{{ event.participant_set.count }} participants</h3>
			{% for participant in event.participant_set.all%}
				<h4>{{ participant.participant_name }}</h4>
				<p>{{ participant.participant_address }}</p>
			{% endfor %}
			<!-- Add informative message in case there is no participant! -->
		{% endif %}
	</div>
</div>


<!--
	{% for participant in event.participant_set.all%}
		<li>{{ participant.participant_name }}</li>
	{% endfor %}
-->

{% endblock %}