{% extends "meetup/base.html" %}
{% block content %}
{% load bootstrap3 %}

<div class="row">
	<div class="col-md-6">
		<div id="map"></div>
	</div>
  
	<div class="col-md-6">
		<form action="./" method="post">
			{% csrf_token %}
			<!-- {{ participant_form }} -->
			<div class="form-group">
				<label for="InputName">Name</label>
				<p id="InputName" placeholder="Name">{% bootstrap_field participant_form.participant_name show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputEmail">Email</label>
				<p id="InputEmail" placeholder="Email">{% bootstrap_field participant_form.participant_email show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputStreet">Street</label>
				<p id="InputStreet" placeholder="Street">{% bootstrap_field participant_form.street_name show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputPostalCode">Postal code</label>
				<p id="InputPostalCode" placeholder="PostalCode">{% bootstrap_field participant_form.postal_code show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputCity">City</label>
				<p id="InputCity" placeholder="City">{% bootstrap_field participant_form.city show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputCountry">Country</label>
				<p id="InputCountry" placeholder="Country">{% bootstrap_field participant_form.country show_label=False %}</p>
			</div>
			<input type="submit" value="Join" class="btn btn-lg btn-success"/>
		</form>  
	</div>
</div>

<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.

  function initMap() {
	var map = new google.maps.Map(document.getElementById('map'), {
	  center: {lat: -34.397, lng: 150.644},
	  //zoom: 6
	  zoom: 16
	});
	var infoWindow = new google.maps.InfoWindow({map: map});

	// Try HTML5 geolocation.
	if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(function(position) {
		var pos = {
		  lat: position.coords.latitude,
		  lng: position.coords.longitude
		};

		infoWindow.setPosition(pos);
		infoWindow.setContent('Location found.');
		map.setCenter(pos);
	  }, function() {
		handleLocationError(true, infoWindow, map.getCenter());
	  });
	} else {
	  // Browser doesn't support Geolocation
	  handleLocationError(false, infoWindow, map.getCenter());
	}
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	infoWindow.setPosition(pos);
	infoWindow.setContent(browserHasGeolocation ?
						  'Error: The Geolocation service failed.' :
						  'Error: Your browser doesn\'t support geolocation.');
  }
</script>
<script async defer 
	src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&callback=initMap">
</script>	




{% endblock %}