{% extends "meetup/base.html" %}
{% block content %}
{% load bootstrap3 %}

<div>
	<!-- <p>FORMULARIO</p> -->
	<form action="{% url 'meetup:new_event' %}" method="post">
		<ul class="list-group">
			{% csrf_token %}
			<div class="form-group">
				<label for="InputEventName">Event name</label>
				<p id="InputEventName" placeholder="EventName">{% bootstrap_field form.event_name show_label=False%}</p> <!--remove class="form-control" to use bootstrap-->
			</div>
			<div class="form-group">			
				<label for="InputEventType">Event type</label>
				<p id="InputEventType" placeholder="EventType">{% bootstrap_field form.event_type show_label=False %}</p>
			</div>
			<div class="form-group">
				<label for="InputPlannedDate">Planned date</label>
				<p id="InputPlannedDate" placeholder="PlannedDate">{% bootstrap_field form.event_datetime show_label=False %}</p>
			</div>
		</ul>
		<div class="jumbotron">
			<input type="submit" value="Create" class="btn btn-lg btn-success"/>
		</div>
	</form>
</div>

{% endblock %}