{% extends "meetup/base.html" %}
{% block content %}

<div>
	<!-- <p>FORMULARIO</p> -->
	<form action="{% url 'meetup:new_event' %}" method="post">
		<ul class="list-group">
			{% csrf_token %}
			<!-- {{ form }} -->
			<div class="form-group">
				<label for="InputEventName">Event name</label>
				<li class="form-control" id="InputEventName" placeholder="EventName">{{ form.event_name }}</li>
			</div>
			<div class="form-group">
				<label for="InputEventType">Event type</label>
				<li class="form-control" id="InputEventType" placeholder="EventType">{{ form.event_type }}</li>
			</div>
			<div class="form-group">
				<label for="InputPlannedDate">Planned date</label>
				<li class="form-control" id="InputPlannedDate" placeholder="PlannedDate">{{ form.event_datetime }}</li>
			</div>
		</ul>
		<input type="submit" value="Create" class="btn btn-lg btn-success"/>
	</form>
</div>

{% endblock %}